@use "components";

@mixin sectio-display {
    width: 100%;
    max-width: 768px;
    margin: auto;
    padding: 3rem;

}


* {
    padding: 0;
    margin: 0;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 4rem;
    border-bottom:solid 1px #ddd ;
   
    
}

.logo img{
    max-width: 7rem;
}

.sec-home{
    display: flex;
    @include sectio-display();
    align-items: center;

    .home-cta{
       flex:1;
        .cta-text{
            color:components.$color-main;
        }
    }
}

.sec-features{
    @include sectio-display();

    .intro{
        text-align: center;
        h3{
            font-size: 1.8rem;
        }
        p{
            font-size: 0.8;
            color: #888;
        }
    }
}

