@use "components";

@mixin section-display {
    width: 100%;
    max-width: 992px;
    margin: auto;
    padding: 3rem;

}

*{
    padding: 0; 
    margin: 0;
    box-sizing: border-box;
}

html{
    min-width: 100vw;
}




.nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 4rem;
    border-bottom:solid 1px #ddd ;
   
    
}

.logo img{
    max-width: 7rem;
}

.sec-home{
    display: flex;
    @include section-display();
    align-items: center;

    .home-cta{
       flex:1;
        .cta-text{
            color:components.$color-main;
        }
        .home-description{
            width: 300px;
        }
        .lead-magnet{
            .input-col{
                max-width: 200px;
            }
        }
    }
}

.sec-features{
    @include section-display();
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .intro{
        text-align: center;
        h3{
            font-size: 1.8rem;
        }
        p{
            font-size: 0.8;
            color: #888;
        }
    }

    .features{
        display:flex ;
        gap: 1rem;
        align-items: center;
        margin: auto;
        .text{
            padding: 2rem;
            flex: 1;
            .feature{
                display:flex;
                flex-direction: row;
                align-items: baseline;
                .description{
                    margin-left: 1rem;
                    max-width: 20rem;
                    .description-title{
                        font-size: 1.15rem;
                    }
                    .description-text{
                        font-size: 1rem;
                    }
                }
            }
        }

        .image{
            img{
                max-width: 25rem;
            }
        }
    }

    
}
.sec-features{
    .intro{
        font-size: 1rem;
        h3{
            font-size: 2rem;
        }
    }
}
.sec-benefits{
    border-top: 1px solid #ddd;
    
    .intro{
        @extend .sec-features, .intro;
    }
    .benefit-cards{
        padding: 0 2rem 2rem 2rem;
        margin: auto;
        .benefit{
            padding: 0 25px;
            margin-bottom: 10px;
        }
    }
}

.sec-kpis{
    background-color: components.$color-main;
    color: white;
    width: 100%;
    padding: 2rem;
    margin: auto;
    .kpi{
        display: flex;
        flex-direction: column;
        align-items: center;
        .number{
            font-size: 4rem;
            font-weight: 600;
        }
        .desc{
            font-size: 0.9rem;
            color: #ffffffaa;

        }
    }
}


.sec-omboarding{
    .intro{
        @extend .sec-features, .intro;
    }
    .steps{
        padding: 0 8rem 5rem 8rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 50px;
      
        .step-separator{
            flex: 1;
            border-top: 1px solid #ddd;
            margin: 0 1rem;
        }
    }
}

.sec-footer-cta{
    background-image: url("./img/bg.png");
    background-repeat: no-repeat;
    background-position: 100%;
    background-color: components.$footer-color;
    padding: 5rem;
    .footer-cta{
        width: 50%;
        .cta-title{
            font-size: 2rem;
        }
        .cta-description{
            font-size: 1.1rem;
        }

    }
   
}


@media(max-width:768px){
    .sec-kpis{
        .kpi{
            margin-bottom: 20px;
        }
    }
    .sec-omboarding{
        .intro{
            text-align: center;
            h3{
                font-size: 2rem;
            }
            p{
                font-size: 1rem;
            }
        }
        .steps{
        padding: 0 3rem 5rem 3rem;
        flex-direction: column;
        .icon-desc{
            .title{
                text-align: center;
                font-size: 1.5rem
            }
            i{
                font-size: 7rem;
            }
        }
        }
    }

    .sec-benefits{
        
        .intro {
            text-align: center;
            h3{
            font-size: 2rem;
            
         }
        }  
    }


    .sec-footer-cta{
        background-image: none;
        padding: 2rem;
        .footer-cta{
            width: 100%;
            text-align: center;
        }
    }


}